
body{
    background-image: url("White-and-red-wines-come-at-all-different-price-points.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

}
a:visited{
    color: lightgray;
}

a{
    color: darkcyan;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    color: white;

}


.reviewfields{
    margin-top: 50px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;



}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:15px;

}
a {
    font-size: 20px;
}

button{
    margin: 12px;

}