<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Red Wines</title>
    <link rel="stylesheet" type="text/css" href="CategoryStyle.css">
</head>
<body>
<section class="details">
    <h1 th:text="${category.type}" class = "category-type">xxx</h1>
        <h2 th:text="${category.id}" class="category-id">xxx</h2>
    <p th:text="${category.description}" class="category-description">  XXX-XXX</p>
</section>

<h2>Please Write a Review</h2>
<form action="add-category" method="POST">

    <lable>Enter Wine Name</lable><input type="text" name="Wine-Name">
    <br><lable>Enter your Review</lable><input type="text" name="Review-Text">
    <br><lable>Enter your name</lable><input type="text" name="User-Name"><br>
    <button type="submit">Add Review</button>
</form>
</body>
</html>