<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Red Wines</title>
    <link rel="stylesheet" type="text/css" href="CategoryStyle.css">
</head>
<body>
<section class="details">
    <h1 th:text="${type}" class = "wine-type">xxx</h1>
        <h2 th:text="${id}" class="wine-id">xxx</h2>
    <p th:text="${description}" class="wine-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur et aut magni deleniti ex magnam illo eveniet earum, eius iusto voluptatibus eum quo perferendis. Ratione libero voluptatum nulla maiores deleniti.</p>
</section>

<a class="nav_write-review" href="Review.html" >Please Write a Review</a>
</body>
</html>