<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Red Wines</title>
</head>
<body>
<section class="details">
    <h1 th:text="${Category.type}" class = "wine-type">REDS</h1>
        <h2 th:text="${Category.name}" class="wine-name">Merlot</h2>
    <p th:text="${Category.blurb}" class="wine-description">This revolting merlot is full-bodied and dry, with hints of dragon blood and unicorn flesh and a sweet finish of nitrogen salts and vaporous aluminum chloride.</p>
</section>

<a class="nav_write-review" href="Review.html" >Please Write a Review</a>
</body>
</html>