<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="red-details">
<h1 th:text=" ">REDS</h1>
<h3>Red wine has an outstanding health properties. It is made from dark color grapes, and derives its red color from the
    skin of the grape. The color ranges from wide varieties of Red.</h3>
</section>
<section>
    <h2>Merlot</h2>
    <img src="merlot.jpg" alt="Merlot" width="200" height="200">
    <p>This revolting merlot is full-bodied and dry, with hints of dragon blood and unicorn flesh and a sweet
        finish of nitrogen salts and vaporous aluminum chloride.</p>
</section>
    <section>
    <h2>Chianti</h2>
    <img src="Chianti.jpg" alt="Chianti" width="200" height="200">
    <p>This cannibal chianti graces the palate with the taste of fava beans and liver.</p>
    </section>
    <section>
    <h2>Cabernet Sauvignon</h2>
    <img src="CabSauv.jpg" alt="Cabernet Sauvignon" width="200" height="200">
    <p>This rich Cabernet Sauvignon is noted for its floral nose and ability to confer immortality on the one who drinks it.</p>
    </section>
    <h2>Shiraz</h2>
    <img src= "Shiraz.jpg" alt="Shiraz" width="200" height="200">
    <p>This premium Shiraz is manufactured in Narnia, with a strong flavor of freshly-cut grass and just a hint of
        manticore teeth on the finish</p>
</section>
<a href="Review.html" >Please Write a Review</a>
</body>
</html>